<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
        <div class="card-header" [ngClass]="headerClass">
          <h5>Match List</h5>
          <!-- <div class="card-header-right">
            <div class="btn-group card-option">
              <button type="button" class="btn btn-sm btn-info" [routerLink]="['/add-match']">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div> -->
          
        </div>
        <div>
          <div class="card-block">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-borderd row-border hover">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Team One</th>
                    <th>Team Two</th>
                    <th>Match Date</th>
                    <th>Match Name</th>
                    <th>Round</th>
                    <!-- <th>Edit</th> -->
                    <!-- <th>Delete</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let m of matchdata;let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{m.team_one}}</td>
                    <td>{{m.team_two}}</td>
                    <td>
                      {{m.match_date}}
                    </td>
                    <td>
                      {{m.match_name}}
                    </td>
                    <td>
                      {{m.round}}
                    </td>
                    <!-- <td>
                      <a href="javascript:void(0)" (click)="edit_match(m)"><i class="fa fa-edit"></i></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" (click)="delete_match(m)"><i class="fa fa-trash"></i></a>
                    </td> -->
                  </tr>
                  <tr *ngIf="emptymatchdata" style="text-align: center;">
                    <td colspan="6">No Data Found</td>
                  </tr>
    
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>