<div class="row">
    <div class="col-xl-12">
      <div class="card" [ngClass]="cardClass" [@cardRemove]="cardRemove" #toAnimate>
        <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
        <div class="card-header" [ngClass]="headerClass">
          <h5>users List</h5>
          <!-- <div class="card-header-right">
            <div class="btn-group card-option">
              <button type="button" class="btn btn-sm btn-info" [routerLink]="['/add-match']">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div> -->
          
        </div>
        <div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of usersdata;let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{u.name}}</td>
                    <td>{{u.email}}</td>
                    <td>
                      {{u.mobile}}
                    </td>
                    <td>
                        <span *ngIf="u.status == 1" class="label label-primary">Active</span>
                        <span *ngIf="u.status == 0" class="label label-warning">Non-Active</span>
                    </td>
                  
                  </tr>
                  <tr *ngIf="emptymatchdata" style="text-align: center;">
                    <td colspan="6">No Data Found</td>
                  </tr>
    
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>