<!-- <div>
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Update Password</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard/default/']"><i class="feather icon-home"></i></a>
                <a [routerLink]="['/dashboard/default/']" *ngIf="type === 'theme1'">Home</a>
              </li>
              <ng-container *ngFor="let breadcrumb of navigationList"> -->
<!-- <li class="breadcrumb-item"><a [routerLink]="['/team-list']">Team</a></li> 
                <li class="breadcrumb-item"><a href="javascript:void(0)">Update Password</a></li>
               </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div> -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
            <div class="card-header" [ngClass]="headerClass">
                <h5>Update Password</h5>
                <!-- <div class="card-header-right">
            <div class="btn-group card-option">
              <button type="button" class="btn btn-sm btn-info" [routerLink]="['/team-list']">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div> -->

            </div>
            <div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <form [formGroup]="changepasswordForm">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="hidden" name="user_id" formControlName="user_id" />
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input type="password" class="form-control" name="current_password"
                                                formControlName="current_password"
                                                [ngClass]="{ 'is-invalid': submitted && c.current_password.errors }" />
                                            <div *ngIf="submitted && c.current_password.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="c.current_password.errors.required">Current Password is
                                                    required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="password" class="form-control" name="new_password"
                                                formControlName="new_password"
                                                [ngClass]="{ 'is-invalid': submitted && c.new_password.errors }" />
                                            <div *ngIf="submitted && c.new_password.errors" class="invalid-feedback">
                                                <div *ngIf="c.new_password.errors.required">New Password is required
                                                </div>
                                                <!-- <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> -->
                                                <div *ngIf="c.new_password.errors.pattern">New password must be 8
                                                    characters, 1 upper case letter, and 1 special character</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control" name="confirm_password"
                                                formControlName="confirm_password"
                                                [ngClass]="{ 'is-invalid': submitted && c.confirm_password.errors }" />
                                            <div *ngIf="submitted && c.confirm_password.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="c.confirm_password.errors.required">Confirm Password is
                                                    required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="login100-form-btn" (click)="updatpassword()">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>