<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="resetPasswordForm">
                <span class="login100-form-title p-b-43">
                    Reset Password
                </span>
                
                <input type="hidden" name="token" fomControlName="token" />
                    <input type="hidden" name="email" placeholder="Email" formControlName="email">
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': isSubmitted && formControls.password.errors }">
                    <span *ngIf="isSubmitted && formControls.password.errors" class="invalid-feedback">
                        <span *ngIf="formControls.password.errors.required">
                            Password is required
                        </span>
                    </span>
           
                </div><br>
                
                
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" type="password" name="password_confirmation" placeholder="Confirm Password" formControlName="password_confirmation" [ngClass]="{ 'is-invalid': isSubmitted && formControls.password_confirmation.errors }">
                    <span *ngIf="isSubmitted && formControls.password_confirmation.errors" class="invalid-feedback">
                        <span *ngIf="formControls.password_confirmation.errors.required">
                            Confirm Password is required
                        </span>
                    </span>
                </div><br>
        

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="resetpassword()">
                        Reset
                    </button>
                </div>
            </form>
<!-- {{loginForm.value | json}} -->
            <div class="login100-more" style="background-image: url('assets/images/login-img5.jpg');">
            </div>
        </div>
    </div>
</div>