<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" >
                <span class="login100-form-title p-b-43 " >
                   Recover password
                </span>
                
                
                <div class="form-group">
                    <!-- <label>Email</label> -->
                    <input class="form-control" type="text" name="email" placeholder="Email" value="">
                    <!-- <span class="focus-input100"></span> -->
           
                </div><br>
                
                
                

        

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Send Recover Email
                    </button>
                </div>
                
             

                
            </form>

            <div class="login100-more" style="background-image: url('assets/images/login-img5.jpg');">
            </div>
        </div>
    </div>
</div>