<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
        <div class="card-header" [ngClass]="headerClass">
          <h5>Ticket Booking List</h5>
          <!-- <div class="card-header-right">
            <div class="btn-group card-option">
              <button type="button" class="btn btn-sm btn-info" [routerLink]="['/add-match']">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div> -->
          
        </div>
        <div>
          <div class="card-block">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-borderd row-border hover">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Match</th>
                    <th>Match Date</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let m of matchdata;let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{m.match_name}}</td>
                    <td>{{m.match_date}}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="viewmatch_tickets(m)"><i class="fa fa-eye"></i></a>
                    </td>
                  
                  </tr>
                  <tr *ngIf="emptymatchdata" style="text-align: center;">
                    <td colspan="4">No Data Found</td>
                  </tr>
    
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>