<div class="row">
    <div class="col-xl-12">
      <div class="card">
        <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
        <div class="card-header" [ngClass]="headerClass">
          <h5>Sports Hall Booking List</h5>
          <!-- <div class="card-header-right">
            <div class="btn-group card-option">
              <button type="button" class="btn btn-sm btn-info" [routerLink]="['/add-match']">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div> -->
          
        </div>
        <div>
          <div class="card-block">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-borderd row-border hover">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Purpose</th>
                    <th>Booking Date</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of bookedsportshalldata;let i = index" style="padding: 10px;">
                    <td scope="row">{{i + 1}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.mobile}}</td>
                    <td>{{s.purpose}}</td>
                    <td>{{s.booking_date}}</td>
                    <td>{{s.location}}</td>
                  
                  </tr>
                  <tr *ngIf="emptysportshallbookingdata" style="text-align: center;">
                    <td colspan="7">No Data Found</td>
                  </tr>
    
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>