<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/gamesch4.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9  pb-5 text-center">
          <h1 class="mb-3 bread">Blog</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

   <section class="ftco-section">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 col-lg-3" *ngFor="let b of blogarray">
            <div class="blog-entry justify-content-end parent">
            <a href="javascript:void(0)" (click)="singleblog(b)" class="block-20 child" [style.background]="'url('+ b.blog_image +')'" [style.backgroundSize]="'cover'">
            </a>
            <div class="text mt-3 float-right d-block">
                <div class="d-flex align-items-center p-2 pr-3 mb-4 topp">
                    <div class="one">
                        <span class="day mr-1">{{b.date}}</span>
                    </div>
                    <div class="two">
                        <span class="yr">{{b.year}}</span>
                        <span class="mos">{{b.month}}</span>
                    </div>
                </div>
              <h3 class="heading"><a href="#">{{b.title}}</a></h3>
            </div>
          </div>
        </div>
    
      </div>
      <div class="row d-flex" *ngIf="emptyblogarray">
        <div class="col-lg-12 text-center">
          <p>No data found.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-subscribe img" style="background-image: url(assets/images/bg_2.jpg);">
    <div class="overlay">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-9 text-wrap text-center heading-section heading-section-white ">
            <h2>Subcribe to our upcoming match</h2>
            <div class="row d-flex justify-content-center mt-4 mb-4">
              <div class="col-md-10">
                <form action="#" class="subscribe-form">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control" placeholder="Enter email address">
                    <input type="submit" value="Subscribe" class="submit px-3">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>