<div class="row">
  <div class="col-xl-12">
    <div class="card" [ngClass]="cardClass" [@cardRemove]="cardRemove" #toAnimate>
      <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
      <div class="card-header" [ngClass]="headerClass">
        <h5>Teams List</h5>
        <div class="card-header-right">
          <div class="btn-group card-option">
            <button type="button" class="btn btn-sm btn-info" [routerLink]="['/add-team']">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        
      </div>
      <div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Team Name</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of teamsarray;let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{t.team_name}}</td>
                  <td>
                    <span *ngIf="t.status == 1" class="label label-primary">Active</span>
                    <span *ngIf="t.status == 0" class="label label-warning">Non-Active</span>
                  </td>
                  <td>
                    <a href="javascript:void(0)" (click)="edit_team(t)"><i class="fa fa-edit"></i></a>
                  </td>
                  <td>
                    <a href="javascript:void(0)" (click)="delete_team(t)"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                <tr *ngIf="emptyteams" style="text-align: center;">
                  <td colspan="5">No Data Found</td>
                </tr>
  
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </div>