<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/fc_header1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 mt-5 pt-5 mt-5">
            <h1 class="mb-4" style="margin-top: 96px;">BOTTESFORD TOWN FOOTBALL CLUB</h1>
            <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p><a href="#" class="btn btn-secondary py-3 px-4" style="margin-right: 5px;">Watch match</a> <a href="#" class="btn btn-primary py-3 px-4">Get ticket</a></p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb" *ngIf="isnextmatch">
    	<div class="container-fluid px-0">
	    	<div class="row">
					<div class="col-md-12">
						<div class="game-wrap-1 ">
							<div class="row p-2 align-items-center">
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-3">
									<div class="text text-vs d-flex">
										<span class="vs">vs</span>
										<div class="team-logo text-center">
											<div class="img" [style.background]="'url('+ nextmatchdata.team_one_image +')'" [style.backgroundSize]="'cover'"></div>
											<h3><span>{{nextmatchdata.team_one}}</span></h3>
										</div>
										<div class="team-logo text-center">
											<div class="img" [style.background]="'url('+ nextmatchdata.team_two_image + ')'" [style.backgroundSize]="'cover'"></div>
											<h3><span>{{nextmatchdata.team_two}}</span></h3>
										</div>
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-3">
									<div class="text">
										<div class="img"></div>
										<h3 class="league">{{nextmatchdata.match_name}}</h3>
										<span>{{nextmatchdata.round}}</span>
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-4">
									<div class="text">
										<div id="timer" class="d-flex mb-0">
										  <div class="time" id="days"></div>
										  <div class="time pl-3" id="hours"></div>
										  <div class="time pl-3" id="minutes"></div>
										  <div class="time pl-3" id="seconds"></div>
										</div>
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-2">
									<div class="text">
										<p class="mb-0"><a href="javascript:void(0)" [routerLink]="['/match']" class="btn btn-primary py-3">Buy Tickets</a></p>
									</div>
								</div>
							</div>
		        </div>
					</div>
	    	</div>
	    </div>
    </section>
		
		<section class="ftco-section ftco-no-pb" *ngIf="islatestgameresult">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
	          <div class="heading-section text-center ">
	          	<span class="subheading">Game Report</span>
	            <h2 class="mb-4">Latest Game Result</h2>
	          </div>
	          <div class="scoreboard slash">
	          	<div class="divider  text-center mb-4"><span>{{lastmatchresult.match_date}} {{lastmatchresult.match_name}}</span></div>
	          	<div class="sport-team-wrap ">
	          		<span class="vs">vs</span>
		          	<div class="d-sm-flex mb-4">
			          	<div class="sport-team d-flex align-items-center">
		          			<div class="img logo" [style.background]="'url('+ lastmatchresult.team_one_image + ')'" [style.backgroundSize]="'cover'"></div>
										<div class="text-center px-1 px-md-3 desc">
											<h3 class="score win"><span>{{lastmatchresult.team_one_goal}}</span></h3>
											<h4 class="team-name">{{lastmatchresult.team_one}}</h4>
										</div>
			          	</div>
			          	<div class="sport-team d-flex align-items-center">
		          			<div class="img logo order-sm-last" [style.background]="'url('+ lastmatchresult.team_two_image + ')'" [style.backgroundSize]="'cover'"></div>
										<div class="text-center px-1 px-md-3 desc">
											<h3 class="score lost"><span>{{lastmatchresult.team_two_goal}}</span></h3>
											<h4 class="team-name">{{lastmatchresult.team_two}}</h4>
										</div>
			          	</div>
		          	</div>
	          	</div>
	          	<div class="text-center ">
		          	<p class="mb-0"><a href="javascript:void(0)" (click)="moredetaillastgameresult()" [routerLink]="['/moreinfo-latestgame-result']" class="btn btn-black">More Details</a></p>
		          </div>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-highlights" *ngIf="islatestgameresult">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="img video-wrap  d-flex align-items-center justify-content-center py-5" style="background-image: url(assets/images/nextmatch1.jpg); width: 100%;">
							<p class="text-center mb-0 py-5">
								<a target="blank" href="lastmatchresult.video_url" class="icon-video-2 popup-vimeo d-flex justify-content-center align-items-center mr-3">
	    						<span class="ion-ios-play"></span>
	    					</a>
	    					<small style="color: rgba(255,255,255,1); font-size: 16px;">Watch Highlights</small>
    					</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-game-schedule ftco-no-pt" *ngIf="isgameschedule">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-section text-center  mb-4">
          	<span class="subheading">Game Schedule</span>
          	<h2 class="mb-4">Game Schedule</h2>
					</div>
				</div>
				<div class="row ">
					<div class="col-md-12 carousel-game-schedule">
                        <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']" [items]="matchdata">
						<div class="item" *ngFor="let m of matchdata" style="margin-right: 30px;">
							<a href="javascript:void(0)" [routerLink]="['/match']">
							<div class="game-sched text-vs text-center">
								<div class="divider"><p><span>{{m.match_name}}</span> - <span>{{m.match_date}}</span></p></div>
								<div class="d-flex sched-wrap Game-sched-img">
									<span class="vs">vs</span>
									<div class="team-logo text-center">
                                        <img class="img" src={{m.team_one_image}}/>
                                        <!-- <div class="img">
                                            <img style="height: 260px;width:100%"src={{i}}/> </div> -->
										<h3><span>{{m.team_one}}</span></h3>
									</div>
									<div class="team-logo text-center">
                                        <img class="img" src={{m.team_two_image}}/>
                                        <!-- <div class="img">
                                            <img style="height: 260px;width:100%"src={{i}}/></div> -->
										<h3><span>{{m.team_two}}</span></h3>
									</div>
								</div>
							</div>
						</a>
              </div>
            </owl-carousel>
	          
	         
	          
					</div>
				</div>
			</div>
		</section>


    <section class="ftco-section img ftco-about ftco-no-pt ftco-no-pb" style="background-image: url(assets/images/gamesch4.jpg);"  data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-5 py-md-5">
    				<div class="row justify-content-start py-md-5">
		          <div class="col-md-12 heading-section heading-section-white ">
		            <h2 class="mb-4">About the Club</h2>
		            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
		            <p><a href="#" class="btn btn-secondary py-3 px-4">Watch Game</a></p>
		          </div>
		        </div>
	        </div>
	        <div class="col-md-1"></div>
	        <div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url(assets/images/nextmatch1.jpg);"></div>
    			</div>
        </div>
    	</div>
    </section>

    <!-- <section class="ftco-section ftco-game-schedule" *ngIf="isnextmatchshow">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section text-center ">
          	<span class="subheading">Schedule</span>
            <h2 class="mb-4">Next Match</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-7 d-flex">
        		<div class="img img-game d-flex align-selg-stretch" style="background-image: url(assets/images/nextmatchmain2.jpg);"></div>
        	</div>
        	<div class="col-md-5">
        		<div class="game-sched text-vs text-center mb-1" *ngFor="let nm of matchdata">
							<div class="divider"><p><span>{{nm.match_name}}</span> - <span>{{nm.match_date}}</span></p></div>
							<div class="d-flex sched-wrap">
								<span class="vs">vs</span>
								<div class="team-logo text-center">
									<div class="img" [style.background]="'url('+ nm.team_one_image + ')'" [style.backgroundSize]="'cover'"></div>
									<h3><span>{{nm.team_one}}</span></h3>
								</div>
								<div class="team-logo text-center">
									<div class="img" [style.background]="'url('+ nm.team_two_image + ')'" [style.backgroundSize]="'cover'"></div>
									<h3><span>{{nm.team_two}}</span></h3>
								</div>
							</div>
						</div>
        	</div>
        </div>
    	</div>
    </section> -->

    <!-- <section class="ftco-section ftco-team img" style="background-image:url(assets/images/ourteamsquard.jpg);" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section heading-section-white text-center ">
          	<span class="subheading">Team Squad</span>
            <h2 class="mb-4">Our Team <span>Squad</span></h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ">
    				<div class="carousel-team">
						<owl-carousel [options]="OurteamSlideOptions" >
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/player1.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Catcher</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/player2.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Tight End</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/player3.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Pitcher</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/player4.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">First Baseman</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/staff-5.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Second Baseman</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/staff-6.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Third Baseman</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/player5.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Right Fielder</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/player7.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Center Fielder</span>
		    				</div>
	    				</div>
    				</div>
    				<div class="item">
    					<div class="team-wrap text-center">
		    				<div class="img" style="background-image: url(assets/images/player8.jpg);"></div>
		    				<div class="text">
		    					<h3 class="mb-0">David Scott</h3>
		    					<span class="position">Left Fielder</span>
		    				</div>
	    				</div>
					</div>
				</owl-carousel>
    			</div>
    		</div>
        </div>
    	</div>
    </section> -->
   	
		
		<section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-baseball-ball"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Football Training</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-helmet"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Softball Training</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-helmet-1"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Basic Defense</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-baseball-bat"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Basic Tactics</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="ftco-section testimony-section slash">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-4">Happy Viewers</h2>
          </div>
        </div>
        <div class="row  justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony ftco-owl">
				<owl-carousel [options]="TestimonialSlideOptions" >
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(assets/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(assets/images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(assets/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(assets/images/person_4.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(assets/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
			  </div>
			</owl-carousel>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section class="ftco-section" *ngIf="isShowblog">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ">
          	<span class="subheading">Blog</span>
            <h2>Recent News</h2>
          </div>
        </div>
        <div class="row d-flex">
			<div class="col-md-6 col-lg-3" *ngFor="let b of blogarray">
				<div class="blog-entry justify-content-end parent">
				<a href="javascript:void(0)" (click)="singleblog(b)" class="block-20 child" [style.background]="'url('+ b.blog_image +')'" [style.backgroundSize]="'cover'">
				</a>
				<div class="text mt-3 float-right d-block">
					<div class="d-flex align-items-center p-2 pr-3 mb-4 topp">
						<div class="one">
							<span class="day mr-1">{{b.date}}</span>
						</div>
						<div class="two">
							<span class="yr">{{b.year}}</span>
							<span class="mos">{{b.month}}</span>
						</div>
					</div>
				  <h3 class="heading"><a href="#">{{b.title}}</a></h3>
				</div>
			  </div>
			</div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-counter bg-light" id="section-counter">
    	<div class="container">
    		<div class="row">
          <div class="col-md-3 justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="20">3</strong>
                <span>Game Played</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="3">5</strong>
                <span>Coaches</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="24">112</strong>
                <span>Trophies</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="18">57</strong>
                <span>Members</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>
	<section class="ftco-subscribe img" style="background-image: url(assets/images/bg_2.jpg);">
		<div class="overlay">
		  <div class="container">
			<div class="row d-flex justify-content-center">
			  <div class="col-md-9 text-wrap text-center heading-section heading-section-white ">
				<h2>Subcribe to our upcoming match</h2>
				<div class="row d-flex justify-content-center mt-4 mb-4">
				  <div class="col-md-10">
					<form action="#" class="subscribe-form">
					  <div class="form-group d-flex">
						<input type="text" class="form-control" placeholder="Enter email address">
						<input type="submit" value="Subscribe" class="submit px-3">
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
