<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/gamesch4.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9  pb-5 text-center">
                <h1 class="mb-3 bread">Sports Hall Booking</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Sports Hall Booking <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading-section ">
                    <!-- <span class="subheading">Game Report</span> -->
                    <h2 class="mb-4">Book Sports Hall</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <section class="hero-wrap hero-wrap-2"
                            style="background-image: url('assets/images/sports-hall.jpg');height: 500px;"></section>
                    </div>


                </div>
            </div>
            <div class="col-md-6 sidebar">

                <div class="sidebar-box">
                    <h2 class="mb-4"></h2>
                    <p>A sports hall is a distinct facility where sports take place within an enclosed area. It can be
                        a building (indoor sports centre), just outside (outdoor sports centre) or contain indoor and
                        outdoor sports features mixed together.</p>
                    <p>Sports hall structure, lights and division netting must be aligned between badminton courts. The
                        critical minimum dimensions for this most popular size of sports hall are 33 x 18 x 7.6m. Main
                        structure must always be aligned between the badminton courts to create four bays.</p>
                    <p><a href="javascript:void(0)" class="btn btn-secondary py-3 px-4" (click)="gotohallbooking()">Book</a></p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="ftco-subscribe img" style="background-image: url(assets/images/bg_2.jpg);">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9 text-wrap text-center heading-section heading-section-white ">
                    <h2>Subcribe to our upcoming match</h2>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-10">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>