<div class="row">
    <div class="col-xl-12">
      <div class="card" [ngClass]="cardClass" [@cardRemove]="cardRemove" #toAnimate>
        <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
        <div class="card-header" [ngClass]="headerClass">
          <h5>Player List</h5>
          <!-- <div class="card-header-right">
            <div class="btn-group card-option">
              <button type="button" class="btn btn-sm btn-info" [routerLink]="['/players-list']">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div> -->
          
        </div>
        <div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Player Name</th>
                    <th>Position</th>
                    <th>Squad No</th>
                    <th>Player Height</th>
                    <th>Country</th>
                    <!-- <th>Edit</th> -->
                    <!-- <th>Delete</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of teamplayers;let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{p.player_name}}</td>
                    <td>
                      {{p.position}}
                    </td>
                    <td>
                        {{p.squad_no}}
                      </td>
                      <td>
                        {{p.player_height}}
                      </td>
                    <td>
                      {{p.country}}
                    </td>
                    <!-- <td>
                        <a href="javascript:void(0)" (click)="edit_players(p)"><i class="fa fa-edit"></i></a>
                    </td> -->
                    <!-- <td>
                        <a href="javascript:void(0)" (click)="delete_players(p)"><i class="fa fa-trash"></i></a>
                    </td> -->
                  </tr>
                  <tr *ngIf="emptyteamplayers" style="text-align: center;">
                    <td colspan="6">No Data Found</td>
                  </tr>
    
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>