<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/gamesch4.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9  pb-5 text-center">
        <h1 class="mb-3 bread">Game Report</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Game Report <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="heading-section ">
          <span class="subheading">Game Report</span>
          <h2 class="mb-4">Football Game Reports 2019</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="scoreboard scoreboard-2 slash">
              <div class="divider  text-center mb-4"><span>Mon. June 3, 2019; Football Champions
                  League</span></div>
              <div class="sport-team-wrap ">
                <span class="vs">vs</span>
                <div class="d-sm-flex mb-4">
                  <div class="sport-team d-flex align-items-center">
                    <div class="img logo" style="background-image: url(assets/images/nextmatch1.jpg);"></div>
                    <div class="text-center px-1 px-md-3 desc">
                      <h3 class="score win"><span>12</span></h3>
                      <h4 class="team-name">Phoenix</h4>
                    </div>
                  </div>
                  <div class="sport-team d-flex align-items-center">
                    <div class="img logo order-sm-last" style="background-image: url(assets/images/nextmatch2.jpg);">
                    </div>
                    <div class="text-center px-1 px-md-3 desc">
                      <h3 class="score lost"><span>8</span></h3>
                      <h4 class="team-name">Mighty Falcons</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center ">
                <p class="mb-0"><a href="#" class="btn btn-black">More Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="scoreboard scoreboard-2 slash">
              <div class="divider  text-center mb-4"><span>Mon. June 3, 2019; Football Champions
                  League</span></div>
              <div class="sport-team-wrap ">
                <span class="vs">vs</span>
                <div class="d-sm-flex mb-4">
                  <div class="sport-team d-flex align-items-center">
                    <div class="img logo" style="background-image: url(assets/images/nextmatch2.jpg);"></div>
                    <div class="text-center px-1 px-md-3 desc">
                      <h3 class="score win"><span>12</span></h3>
                      <h4 class="team-name">Phoenix</h4>
                    </div>
                  </div>
                  <div class="sport-team d-flex align-items-center">
                    <div class="img logo order-sm-last" style="background-image: url(assets/images/nextmatch1.jpg);">
                    </div>
                    <div class="text-center px-1 px-md-3 desc">
                      <h3 class="score lost"><span>8</span></h3>
                      <h4 class="team-name">Mighty Falcons</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center ">
                <p class="mb-0"><a href="#" class="btn btn-black">More Details</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 sidebar">
        <div class="sidebar-box">
          <h2 class="mb-4">Latest Video</h2>
          <div class="img d-flex align-items-center justify-content-center py-5"
            style="background-image: url(images/victory.jpg); width: 100%;">
            <p class="text-center mb-0 py-5">
              <a href="https://vimeo.com/45830194"
                class="icon-video-2 popup-vimeo d-flex justify-content-center align-items-center mr-3">
                <span class="ion-ios-play"></span>
              </a>
              <small style="color: rgba(255,255,255,1); font-size: 16px;">Watch Highlights</small>
            </p>
          </div>
        </div>
        <div class="sidebar-box">
          <h2 class="mb-4">League Table</h2>
          <table class="table table-league">
            <thead>
              <tr>
                <th>Team</th>
                <th>G</th>
                <th>P</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Knights Warrior</td>
                <td>14</td>
                <td>24</td>
              </tr>
              <tr>
                <td>Mighty Falcons</td>
                <td>14</td>
                <td>24</td>
              </tr>
              <tr>
                <td>Germany Football</td>
                <td>14</td>
                <td>24</td>
              </tr>
              <tr>
                <td>Colorado</td>
                <td>14</td>
                <td>24</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="sidebar-box">
          <h2 class="mb-4">Top Scores</h2>
          <div class="row">
            <div class="col-md-6 top-score pb-4 mb-1">
              <div class="img" style="background-image: url(assets/images/player1.jpg);"></div>
              <div class="text text-center">
                <h3 class="mb-0">David Scott</h3>
                <span class="score">12 games / 10 goals</span>
              </div>
            </div>
            <div class="col-md-6 top-score pb-4 mb-1">
              <div class="img" style="background-image: url(assets/images/player2.jpg);"></div>
              <div class="text text-center">
                <h3 class="mb-0">David Scott</h3>
                <span class="score">12 games / 10 goals</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-subscribe img" style="background-image: url(assets/images/bg_2.jpg);">
  <div class="overlay">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9 text-wrap text-center heading-section heading-section-white ">
          <h2>Subcribe to our upcoming match</h2>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-10">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>