<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/gamesch4.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9  pb-5 text-center">
        <h1 class="mb-3 bread">Match</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Matches <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-section ">
          <span class="subheading">Game Report</span>
          <h2 class="mb-4">Match Schedule</h2>
        </div>
        <div class="row">
          <div class="col-lg-6" *ngFor="let m of matchdata">
              <div class="scoreboard scoreboard-2 slash">
                  <div class="divider text-center mb-4"><span>{{m.match_date}} {{m.match_name}}</span></div>
                  <div class="sport-team-wrap">
                      <span class="vs">vs</span>
                      <div class="d-sm-flex mb-4">
                          <div class="sport-team d-flex align-items-center">
                              <div class="img logo" [style.background]="'url('+ m.team_one_image +')'" [style.backgroundSize]="'cover'"></div>
                              <div class="text-center px-1 px-md-3 desc">
                                  <!-- <h3 class="score win"><span>12</span></h3> -->
                                  <h4 class="team-name">{{m.team_one}}</h4>
                              </div>
                          </div>
                          <div class="sport-team d-flex align-items-center">
                              <div class="img logo order-sm-last" [style.background]="'url('+ m.team_two_image +')'" [style.backgroundSize]="'cover'">
                              </div>
                              <div class="text-center px-1 px-md-3 desc">
                                  <!-- <h3 class="score lost"><span>8</span></h3> -->
                                  <h4 class="team-name">{{m.team_two}}</h4>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="text-center">
                      <p class="mb-0"><a href="javascript:void(0)" (click)="buyticket(m)" class="btn btn-black">Buy Ticket</a></p>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-6">
              <div class="scoreboard scoreboard-2 slash">
                  <div class="divider  text-center mb-4"><span>Mon. June 3, 2019; Football
                          Champions
                          League</span></div>
                  <div class="sport-team-wrap ">
                      <span class="vs">vs</span>
                      <div class="d-sm-flex mb-4">
                          <div class="sport-team d-flex align-items-center">
                              <div class="img logo"
                                  style="background-image: url(assets/images/nextmatch2.jpg);"></div>
                              <div class="text-center px-1 px-md-3 desc">
                                  <h3 class="score win"><span>12</span></h3>
                                  <h4 class="team-name">Phoenix</h4>
                              </div>
                          </div>
                          <div class="sport-team d-flex align-items-center">
                              <div class="img logo order-sm-last"
                                  style="background-image: url(assets/images/nextmatch1.jpg);">
                              </div>
                              <div class="text-center px-1 px-md-3 desc">
                                  <h3 class="score lost"><span>8</span></h3>
                                  <h4 class="team-name">Mighty Falcons</h4>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="text-center ">
                      <p class="mb-0"><a href="#" class="btn btn-black">Buy Ticket</a></p>
                  </div>
              </div>
          </div> -->

      </div>
      </div>

    </div>
  </div>
</section>
<section class="ftco-subscribe img" style="background-image: url(assets/images/bg_2.jpg);">
  <div class="overlay">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9 text-wrap text-center heading-section heading-section-white ">
          <h2>Subcribe to our upcoming match</h2>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-10">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>